*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.navbar{
	width: 33%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: 0;
}
.navbar1{
	width:53%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: 0;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:0 20px;
	position: relative;
   }

.navbar ul li a{
	text-decoration: none;
	color: 0;
	text-transform: uppercase;

}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transitions: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}

.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50px);
	text-align: center;
	color: #fff;

}

.bar{
	width: 100%;
	margin: auto;
	padding: 1px 0;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	background: 0;
}

.bar ul li{
	list-style: none;
	display: inline-block;
	margin:0 10px;
	position: relative;
   }

.bar ul li a{
	text-decoration: none;
	color: 0;
	text-transform: uppercase;

}

.bar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transitions: 0.5s;
}
.bar ul li:hover::after{
	width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}